/* 
  *{
        margin: 0;
        padding: 0;
    }
    body{
        
        background-color: rgba(136, 126, 126, 0.767);
    }
    main{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 100px;
    }
    .taskarea{
        height: 200px;
        width: relative;
        border: 5px solid rgb(116, 114, 114);
        padding: 5px;
        margin: 20px;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        background-color: rgb(66, 65, 65);
    }
    li{
        margin: 50px;
        border: 1px solid black;
        border-radius: 5px;
        font-size: larger;
        background-color: #424141;
        color: white;
        width: 600px;
        padding-left: 10px ;
        
    }
    .box{
        padding-bottom: 50px;
        width: 60vw;
        height: 100%;
        border: 10px solid rgb(83, 83, 83);
        border-radius: 10px;
        background-color: #636262;
    }
    #task{
        background-color: rgb(66, 65, 65);
        border: 1px rgb(66, 65, 65);;
        padding: 30px;
        padding-left: 160px;
        padding-right: 160px;
        font-size: xx-large;
        color: white;
    }
    #addbtn{
        font-size: large;
        width: 60px;
        background-color: #807b7b;
        color: rgb(212, 207, 207);
    } */

    /* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(136, 126, 126, 0.767);
  /* background-color: rgba(179, 179, 179, 0.767); */
  font-family: sans-serif;
  line-height: 1.4;
  padding: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  /* remove fixed height/width for responsiveness */
  width: 100%;
  min-height: 100vh;
}

/* Task area container */
.taskarea {
  width: 100%;
  max-width: 600px;
  border: 3px solid rgb(116, 114, 114);
  padding: 1rem;
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(66, 65, 65);
}

/* Input & button container box */
.box {
  width: 100%;
  max-width: 800px;
  border: 5px solid rgb(83, 83, 83);
  border-radius: 10px;
  background-color: #636262;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
}

/* List items */
li {
  margin: 1.5rem 0;
  border: 2px solid rgb(43, 42, 42);
  border-radius: 5px;
  font-size: 1.25rem; /* relative unit */
  background-color: #424141;
  color: white;
  width: 100%;
  max-width: 600px;
  padding: 0.75rem 1rem;
}

/* Input field */
#task {
  width: 100%;
  max-width: 100%;
  background-color: rgb(66, 65, 65);
  border: 1px solid rgb(66, 65, 65);
  padding: 1rem;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1rem;
}

/* Button */
#addbtn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #807b7b;
  color: rgb(212, 207, 207);
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

/* Media queries for larger screens */
@media (min-width: 600px) {
  main {
    margin-top: 8rem;
  }

  #task {
    font-size: 2rem;
    padding: 1.25rem 2rem;
  }

  #addbtn {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

@media (min-width: 900px) {
  .taskarea {
    padding: 2rem;
    margin: 2rem 0;
  }

  li {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
  }
}
#ulheading{
    color: gray;
}
.taskarea:hover{
    border: 3px solid rgb(194, 187, 187) ;
}
li:hover{
    border: 2px solid gray;
}
#ulheading:hover{
    color: rgb(194, 189, 189);
}
#addbtn:hover{
    border: 2px solid white;
}
